.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  border: 10px solid tomato(136, 133, 133);
  border-radius: 10px;
  margin-bottom: 10px;
  width: 50%;
}